h1 {
    font-family: 'Quicksand', sans-serif;
    color: #4ECCA3;
    font-size: 72px;
}

p {
    font-family: 'Quicksand', sans-serif;
    color: #ADDDD0;
    font-size: 18px;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    color: #46ffce;
    font-size: 38px;
}

hr {
    border: 0;
    background-color: #232931;
    height: 1px;
    margin-top: 10%;
    background-image: linear-gradient(to right, #232931, #4ECCA3 , #232931);
}

a:link {
    text-decoration: none;
    color: #4ECCA3;
}
  
a:visited {
    text-decoration: none;
    color: #4ECCA3;
}
  
a:hover {
    text-decoration: none;
    color: #123a2c
}
  

/*************************** CLASSES ***************************/
.container-fluid {
    background-color: #232931;
    padding: 3% 15%
}

.navbar-toggler {
    color: #4ECCA3;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Quicksand', sans-serif;
    color: #4ECCA3;
}


.navbar-brand {
    font-family: 'Quicksand', sans-serif;
    color: #4ECCA3;
}

.row {
    padding: 4% 4%;
}

.projects-split-hr {
    border: dotted #ADDDD0 6px;
    border-bottom: none;
    width: 4%;
    margin: auto;

}

.employer-header {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #4ECCA3;
}

.job-details {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #ADDDD0;
    font-size: 25px;
}

.job-desc {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #ADDDD0;
    font-size: 20px;
}

.btn .btn-outline-light {
    margin-left: 100px;
}

.email-photo {
    margin: auto;
}
/*************************** IDS ***************************/
#me-img {
    width: 250px;
    height: 250px;
    margin-top: 10%;
    margin-left: 20%;
}

#about-me-container {
    padding: auto auto;
    text-align: left;
}

#projects-header {
    text-align: center;
}

#me-header {
    text-align: center;
}

#music-gif {
    margin-right: 50%;
}

#browser-gif {
    margin-left: 50%;
}

#bank-gif {
    margin-right: 50%;
}

#work-header {
    text-align: center;
    margin-bottom: 10%;
}

#work-carousel { 
    text-align: center;
}

#contact-header {
    text-align: center;
}
/*
#4ECCA3 header color
#ADDDD0 writing text
#232931 background 
*/